<ul class="nav navbar-nav navbar-right">
   <li class="dropdown navbar-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
         <img src="{{ request.user.myuser.avatar.url }}" alt="" />
         <span class="hidden-xs">{{ request.user.username }}</span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInLeft">
         <li class="arrow"></li>
         <li><a href="javascript:;">编辑资料</a></li>
         <li><a href="javascript:;">重置密码</a></li>
         <li class="divider"></li>
         <li><a href="{% url 'logout' %}">退出系统</a></li>
      </ul>
   </li>
</ul>