{% load static %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container center-block">
  	<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/">Demosite</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/debug">Debug</a></li>
            <li><a href="#">Tools</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test <b class="caret"></b></a>
            <ul class="dropdown-menu">
                    <li><a href="#">admin</a></li>
                    <li><a href="#">ModTest</a></li>
                    <li><a href="#">ChangeAvatar</a></li>
                    <li><a href="#">FileUpload</a></li>
                    <li><a href="#">Test3</a></li>
                    <li><a href="#">Moderate Comments</a></li>
            </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo <b class="caret"></b></a>
            <ul class="dropdown-menu">
                    <li><a href="/demo/echart">Echart</a></li>
                    <li><a href="/demo/piechart">Piechart</a></li>
                    <li><a href="/demo/multibar">Multbar</a></li>
                    
            </ul>
            </li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    </div>
</nav>
