asgiref==1.0.0
autobahn==0.17.0
channels==0.17.3
constantly==15.1.0
daphne==0.15.0
Django==1.10.4
django-bower==5.2.0
django-nvd3==0.9.7
incremental==16.10.1
Jinja2==2.8
MarkupSafe==0.23
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2016.7
six==1.10.0
Twisted==16.6.0
txaio==2.5.2
Unidecode==0.4.19
zope.interface==4.3.2
