
// * { margin: 0; padding: 0; box-sizing: border-box; }
body,div, ul,li,input,button,form,img{ margin: 0; padding: 0; box-sizing: border-box; }
body { height: 100%; font: 13px Helvetica, Arial;}
.msgs { position: absolute; width: 100%; height: 80%;background: #eef;}
#messages { position: relative;height: 100%; width: 100%; color: #fff; list-style-type: none; margin: 1.2em auto .5em;overflow: auto; border: 1px solid #abc; background: #fff;}

.messages { 
height: 100%;
margin: 1.2em auto;
overflow-y: scroll;
}
.messages li{
display: block;
padding: 10px 0;
clear: both;
border-radius: 25px;
position: relative;
margin: .5em 0em;


}
.msg-right{ text-align: right;}
.msg-left{ text-align: left;}
.msg-right span.msg-name{ 
// display: block;
// float: left;
// padding: 10px 10px;
background: #999;
margin-left: 1em;
margin-right: 1em;
margin-bottom: 0em;

}
.msg-left .chatMsg,.msg-right .chatMsg{ 
// display: block;
// float: right;
padding: 10px 20px;
clear: both;
border-radius: 25px;
position: relative;
margin-bottom: 1.2em;
background: #36a9fc;
}

.msg-right span.msg-name{
  display: block;
  float: right;
}
.msg-left span.msg-name{ 
background: #999;
margin: 0 1em;
}


.msgForm { display: table; position: fixed; width: 100%;height: 20%; bottom: 0; background: #eef;}
#cont { display: table;position: absolute;bottom: 0;width: 100%;height:96%; margin: auto; background: white;}
.sendForm { display: table-cell; vertical-align:bottom;position: relative; bottom: 0; height: 5.8em; margin: 0 auto 1em; padding: 1em .5em; border: 1px solid #abc;}
.sendForm input { padding: .5em; border: 1px solid #abc; border-radius: 6px;}
.sendForm button { color: #345; background: #bbc; border: none;border-radius: 6px; padding: .6em;margin-left: 1em;width: 15%;}
.sendForm button:hover{color: #333;background: rgb(166, 189, 255);}



#name {max-width: 6em; margin: .2em .2em 0;}
#m { width: 78%; margin: .2em;}
      
