div,ul,li{
		margin: 0;
		padding: 0;

	}
	#nav{
		height: 35px;
		margin: 5px auto;
	}
	#nav ul li{ 
		float: left;
		line-height: 35px;
		text-align: left;
		//padding: 0 10px;
		//background: #F00;
		//margin-right: 1px;
	}
		ul{
		height: 35px;
		list-style: none;
	}

	#nav ul li a{ 
		display: block;
		padding: 0 8px 0 0px;
		#font-size: 12px;
		color: #333;
		text-decoration: none;

	}
	#nav ul li a:hover{
		color: #66c;
		text-decoration: underline;
		#background: #ccc;
	}