{% extends "base.html" %}
{% block title %}Room-{{ room.label }}{% endblock %}
{% block content %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'ws.css' %}">

  <h2>{{ room.label }}</h2>
  <p class="quiet">
    Anyone with this URL can join the room and chat: 
    <a href="{% url 'im:room' room.label %}">
    <code>{{ request.scheme }}://{{ request.get_host }}{% url 'im:room' room.label %}</code>
    </a>
  </p>
  <p>
    <label for="sender">Your name:</label>
    <input id="sender" type="text" placeholder="name">
  </p>
  <div id="roominfo">
    <h4>Room Info</h4>
    <div>Online:<span id="online_num">--</span></div>

  </div>
  <form id="chatform">
    <table id="chat">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Message</th>
          <th>Time</th>
        </tr>
        {% for message in messages %}
          <tr>
            <td>{{ message.sender }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.formatted_timestamp }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Say it</button>
        </td>
      </tr>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <!-- Realtime JavaScript -->
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "ws.js" %}'></script>
{% endblock afterbody %}